body{
  background-color:darkcyan;
}

#body_binair{
  background-color:lightgoldenrodyellow;
}
#body_kleurmodel{
  background-color:darkseagreen ;
}

#body_compressie{
background-color:gray;
}
#body_bitvector{
background-color: darkolivegreen;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:darkslategrey;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}
footer{
  background-color: black;
  height:15vh ;

}
.footer_home {
  margin-top: 60vh;
}
.kleurenmodel_foto{
  width:60% ;
  height:250px ;
}

.binair_foto{
  width:450px ;
  height:300px ;
  position: absolute;
  top: 10vh;
  right: 5vw;
}

.binair_p2{
  position: absolute;
  top:50vh;
  right: 10vw;
}
.kleurenmodel{
  display: flex;
  flex-direction: column;
  margin-left:25vw;
}

 p {
  font-size: 19px;

}
.logo {
  width:350px ;
  height:250px ;
  position: absolute;
  top: 10vh;
  right: 10vw;
}

.laptop{ 
  width:350px ;
  height:250px ;
  position: absolute;
  top: 50vh;
  right: 10vw;
}