body{
  background-color:darkcyan; /* Dit geeft de body een achtergrondkleur.*/

}

#body_binair{
  background-color:lightgoldenrodyellow;
}
#body_kleurmodel{
  background-color:darkseagreen ;
}

#body_compressie{
background-color:gray;
}

#body_bitvector{
background-color: darkolivegreen;
}

ul { /*Dit geeft stijl aan de navigatie bar*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:darkslategrey;
}

li {
  float: left; /* Dit positioneert de navigatie bar */

}

li a { /*Dit geeft stijl aan de letters van de navigatie bar*/
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111; /* Dit zorgt ervoor als je er over heen gaat dat het zwart is. */

}
footer{
  background-color:black ;
  height:15vh ;
}
footer > p { /* Dit geeft stijl aan de p van de footer. */
  color:white;
  margin-left: 30vw;
}

.kleurenmodel_foto{ /* Ik geef een foto hier een hoogte en breedte. */
  width:60% ;
  height:250px ;
}

.binair_foto{ /* Ik positioneer hier een foto. Door hem 10vh van de hoogte te zetten en 5vw van de breedte */
  width:450px ;
  height:300px ;
  position: absolute;
  top: 10vh;
  right: 5vw;
}

.binair_h2{
  position: absolute;
  top:60vh;
  right: 25vw;
}

.binair_p2{
  position: absolute;
  top:70vh;
  right: 3vw;
  width: 600px;
}
.kleurenmodel{ /* Ik zet de section in een kolom en haal hem 25vw van link. */
  display: flex;
  flex-direction: column;
  margin-left:25vw;
}

 p { /* Ik pas hier de grootte van de p aan */
  font-size: 19px;

}
.compressie_foto{
width: 300px;
height:400px ;
  position: absolute;
  top: 15vh;
  right: 10vw;
}

.footer_compressie{
  margin-top: 50vh;
}

.bitvector_foto{
  width:500px ;
  height:350px ;
  position: absolute;
  top: 40vh;
  right: 7vw;
}

.bitvector_p2{ /* Hier zet ik de tekst meer onder elkaar. */
  width: 750px;
}

.bitvector_p3{
  width: 750px;
}

.footer_bitvector{ /* Hier haal ik de footer omlaag. */
  margin-top: 65vh;
}
.logo {
  width:350px ;
  height:250px ;
  position: absolute;
  top: 10vh;
  right: 10vw;
}

.laptop{ 
  width:350px ;
  height:250px ;
  position: absolute;
  top: 55vh;
  right: 10vw;
}
.footer_home {
  margin-top: 60vh;
}
.algemeneinfo_foto{
  height:450px ;
  width:300px ;
  margin-top: 5vh;
}

.algemeneinfo_h1{
  position: absolute;
  right:65vw 
}

.algemeneinfo_p1{
  position: absolute;
  right:20vw ;
  top: 15vh;
  width:650px ;
}